// COLOR VARIABLES
$green: #16f58d;
$color-primary-dark: #b28451;
$color-primary-light: #B28451;

$color-secondary: #101d2c;
$color-white: #fff;
$color-black: #101d2b;

// FONT 
$font-primary: 'Nunito', sans-serif;

//  BREAKPOINTS
$bp-largest: 75em;   
$bp-large: 62.5em;  
$bp-medium: 55em;   
$bp-small: 37.5em;   

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    font-size: 1.2rem;
    padding: 3rem;
    @media only screen and (max-width: $bp-small) {
        padding: 0;
    }
}

.port-nav {
    margin: 2rem;
}
.portfolio {
    padding: 5rem 15rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem 8rem;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.port-nav {
    margin: 2rem;
}
.port-nav li {
    list-style: none;
    float: left;
    margin-right: 1rem;

    @media only screen and (max-width: $bp-small) {
        margin-bottom: 2rem;
    }    
}
.port-nav a {
    color: rgb(78, 77, 77);
    padding: .4rem .8rem;
    border: .5px solid rgb(200, 202, 201);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    transition: all .5s;
    font-family: serif;
}
.port-nav a:hover {
    color: white;
    background-color:  $green;
}
.mag {
    padding: 2rem 0;
}
.portfolio {
    text-align: center;
}
.port-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
    grid-gap: 1rem;

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr;

        text-align: center;
    }

   
}





