// COLOR VARIABLES
$green: #16f58d;
$color-primary-dark: #b28451;
$color-primary-light: #B28451;

$color-secondary: #101d2c;
$color-white: #fff;
$color-black: #101d2b;

// FONT 
$font-primary: 'Nunito', sans-serif;

//  BREAKPOINTS
$bp-largest: 75em;   
$bp-large: 62.5em;  
$bp-medium: 55em;   
$bp-small: 37.5em;   

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @media only screen and (max-width: $bp-small) {
        box-sizing: border-box;
    }
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    font-size: 1.2rem;
}

.port-nav {
    margin: 2rem;
}
.portfolio {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) repeat(8, minmax(min-content, 12rem)) minmax(2rem, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-row-gap: 2rem;
    justify-content: center;

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem 0;
    }
}
.port-nav {
    margin: 2rem;
    grid-row: 2 / 3;
    grid-column: 4 / 8;
    justify-self: center;

    &  ul {
        display: flex;

        @media only screen and (max-width: $bp-small) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
        } 
    }
}
.section-heading {
    grid-column: 5 / 7;
    justify-self: center;
}
.port-nav li {
    margin-right: 1rem;
    list-style: none;

    @media only screen and (max-width: $bp-small) {
        margin-bottom: 2rem;
        justify-content: flex-start;
        align-items: flex-start;
    } 
    &  .all {
        background-color: $green;
    }   
}
.port-nav a {
    color: rgb(78, 77, 77);
    padding: .4rem .8rem;
    border: .5px solid rgb(200, 202, 201);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    transition: all .5s;
    font-family: serif;

   
}
.port-nav a:hover {
    color: white;
    background-color:  $green;
}
.mag {
    padding: 2rem 0;
}
.portfolio {
    text-align: center;
}
.port-img {
    grid-row: 3 / 4;
    grid-column: 2 / 10;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        text-align: center;
    }

    &  .photo{
        background-size: cover;
        transition: all .5s;
        &  .const {
            visibility: hidden;
            padding: 10rem 4rem;
            @media only screen and (max-width: $bp-small) {
               padding: 13rem 0;
            }
            transition: all .5s;
        }

        &:hover .const {
            visibility: visible;
            background-color: rgba(0, 0, 0, 0.747);
        }
        &:hover {
            background-size: 170%;
            background-position: top;
        }
    }

    &  .photo:nth-child(1) {
        background-image: url(../img/work/1.jpg);
    }
    
    &  .photo:nth-child(2) {
        background-image: url(../img/work/2.jpg);
    }
    
    &  .photo:nth-child(3) {
        background-image: url(../img/work/3.jpg);
    }
    
    &  .photo:nth-child(4) {
        background-image: url(../img/work/4.jpg);
    }
    
    &  .photo:nth-child(5) {
        background-image: url(../img/work/5.jpg);
    }
    
    &  .photo:nth-child(6) {
        background-image: url(../img/work/6.jpg);
    }
    
    &  .photo:nth-child(7) {
        background-image: url(../img/work/7.jpg);
    }
    
    &  .photo:nth-child(8) {
        background-image: url(../img/work/8.jpg);
    }
    
    &  .photo:nth-child(9) {
        background-image: url(../img/work/9.jpg);
    }

   
}





